<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>&lt;?xml</string>
				<string>version="1.0"</string>
				<string>encoding="UTF-8"?&gt;
&lt;!DOCTYPE</string>
				<string>plist</string>
				<string>PUBLIC</string>
				<string>"-//Apple//DTD</string>
				<string>PLIST</string>
				<string>1.0//EN"</string>
				<string>"http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist</string>
				<string>version="1.0"&gt;
&lt;string&gt;com.googleusercontent.apps.9999044841-fbn1ut3g89tmiifoem6tn9rr2r9ph7u7&lt;/string&gt;
&lt;/plist&gt;
</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
